@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-yellow-accent: #f0ff00;
	--color-light-gray: #f4f4f4;
	--color-footer-bg: var(--footer-bg)
}

@custom-variant dark (&:is(.dark *));


:root {
	--footer-bg: #1c1c1c
}

.dark {
	--footer-bg: #ff8f00
}

